<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hoi.aiman">
    <!-- Permission required to draw floating widget over other apps -->
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.recievers_types.App"
        android:allowBackup="true"
        android:icon="@drawable/appstore"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appstore"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name="my.hoi.aiman.Pac.LoginActivity"/>
        <activity
            android:name="my.hoi.aiman.Pac.DisconnectActivity"
            android:exported="false" />
        <activity
            android:name="my.hoi.aiman.Pac.ConnectedActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9548763434048084~5961308157" />

        <activity
            android:name="my.hoi.aiman.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="my.hoi.aiman.MainActivityOrg"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name="my.hoi.aiman.Pac.FourgroundService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="my.hoi.aiman.Pac.MyBroadCastReciever"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>